* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-width: 168px;
    padding: 0 41px;
    height: 68px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -38px;
    z-index: 1;
}

.header .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 14px;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #2f3a3b;
    padding: 10px 20px;
}

.nav a:hover {
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

.header .action-link {
    color: #2f3a3b;
    padding: 12px 23px;
}

.header .action-link:hover {
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

.header .action-btn {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: var(--primary-color);
    font-weight: 600;
}

.header .action-btn:hover {
    color: #fff;
    background-color: #1ebfc1;
}

/* Hero */
.hero {
    padding: 36px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
    height: 631px;
}

/* Hero left */
.hero .content-block {
    width: 51%;
}

.hero-summary .title {
}
/* Hero right */
.hero .media-block {
    width: 49%;
}

.media-block .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
